PyMuPDF~=1.24.0
Flask~=3.0.3
imutils~=0.5.4
matplotlib~=3.8.3
numpy~=1.23.0
opencv-python-headless~=4.9.0.80
pythreshold~=0.3.1
scikit-image~=0.22.0
pymongo~=4.7.1
qrcode~=7.4.2
PyPDF2~=3.0.1
qreader~=3.14
deskew~=1.5.1
pdfkit~=1.0.0